/* main layout */
body {
	color: #666;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 14px;
}
a {
	color: #999;
}
h1 a {
	text-decoration: none;
	color: #666;
}
a img {
	border-style: none;
}
a:hover {
	background-color: #EEE;
}
div#logo a:hover {
	background-color: transparent;
}
.title a:hover {
	background-color: transparent;
}
div#content {
	width:1000px;
	margin-left:auto;
	margin-right:auto;
}
div#main {
	margin-top:100px;
	padding-right:25px;
  padding-left:50px;
	float:left;
	width: 580px;
	line-height: 1.8;
  text-align: justify;
}
div#sidebar {
	margin-top:100px;
	float: right;
	width: 250px;
	line-height: 1.5;
	border-left-color: #CCC;
	border-left-style: solid;
	border-left-width: 1px;
	padding-left: 20px;
  padding-right: 25px;
}
div#logo {
}
div#name {
	margin-bottom: 100px;
	text-size: 1.2em;
	color: #666;
	font-weight: bold;
}
div#nav {
	margin-top: 100px;
}
div#nav ul {
	margin: 0;
	padding: 0;
}
div#nav li {
	list-style-type: none;
	margin-top: 5px;
}
h1.title {
	line-height: normal;
	font-size: 1.4em;
	color: #666;
}
h2 {
 font-size: 1em;
 margin-bottom: -15px;
}
div.date {
	margin-top: -13px;
	margin-bottom: -13px;
	color: #CCC;
	font-size: 0.8em;
}
div.post {
	margin-bottom: 50px;
}
div.permalink {
	margin-top: -15px;
	color: #CCC;
	font-size: 0.8em;
}
pre.code {
	color: #f5deb3;
	background-color: #000;
	padding-left: 10px;
	font-family: "Courier New", Courier, monospace;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  behavior: url(/PIE.htc);
  padding-top: 5px;
  padding-bottom: 5px;
  line-height: normal;
}
form.edit-form {
    display: inline;
}
form.delete-form {
    display: inline;
}
div.notification {
    color: green;
    font-size: xx-large;
    font-weight: bolder;
    text-decoration: underline;
}
div.discuss {
  text-align: right;
}
span.discuss-link {
  cursor: pointer;
	color: #999;
  text-decoration: underline;
}
span.discuss-link:hover {
	background-color: #EEE;
}
div.discuss-content {
  display: none;
}
/* syntax highlight */

.builtin {
        color: #b0c4de;
}
.comment {
        color: #ff4500;
}
.comment-delimiter {
        color: #ff4500;
}
.keyword {
        color: #00ffff;
}
.variable-name {
        color: #eedd82;
}
.function-name {
        color: #87cefa;
}
.string {
        color: #ffa07a;
}
.py-builtins {
        color: #00ffff;
}
.constant {
        color: #7fffd4;
}
.type {
        color: #98fb98;
}
.variable-name {
        color: #eedd82;
}
.jde-java-font-lock-modifier {
        color: #b0c4de;
}
.jde-java-font-lock-number {
        color: #ffa07a;
}
.jde-java-font-lock-public {
        color: #b0c4de;
}
.bold {
    color: #ffff00;
	background-color: #666666;
	font-weight: bold;
}
.underline {
        text-decoration: underline;
}
.doc {
        color: #ffa07a;
}
.rainbow-paren-blue {
        color: #0000ff;
}
.rainbow-paren-green {
        color: #00ff00;
}
.rainbow-paren-orange {
        color: #ff7f00;
}
.rainbow-paren-pink {
        color: #ffc0cb;
}
.rainbow-paren-purple {
        color: #7f007f;
}
.rainbow-paren-red {
        color: #ff0000;
}
.rainbow-paren-yellow {
        color: #ffff00;
}
